<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".obj" />
            <remove fileExtension=".mtl" />
            <mimeMap fileExtension=".fbx" mimeType="text/plain" />
            <mimeMap fileExtension=".mtl" mimeType="text/plain" />
            <mimeMap fileExtension=".obj" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
